#---------------------------------
# Directories
#---------------------------------
public/
build/
dist/
tmp/
**/node_modules/
/src/**/*.css
.firebaserc
firebase.json
firebase.rules.json

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
