task-list {
  display: block;
  position: relative;

  $root-font-size: 16px !default;
  $breakpoints: (
          small  : 0,
          medium : 740px,
          large  : 980px,
          xlarge : 1300px
  ) !default;

  $breakpoint-prefixes: (
          small  : sm-,
          medium : md-,
          large  : lg-,
          xlarge : xl-
  ) !default;

  @function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }
  @function em($value, $base: $root-font-size) {
    $value: strip-unit($value);

    @if $value == 0 {
      @return $value;
    }

    @return $value / strip-unit($base) * 1em;
  }
  @function rem($value) {
    $value: strip-unit($value);

    @if $value == 0 {
      @return $value;
    }

    @return $value / strip-unit($root-font-size) * 1rem;
  }
  @function media-query-width($value) {
    @if map-has-key($breakpoints, $value) {
      $value: map-get($breakpoints, $value);
    }

    @if $value == 0 {
      @return $value;
    }
    @return em($value);
  }
  @mixin media-query($min: null, $max: null, $orientation: null, $pixel-ratio: null, $type: 'screen') {
    $query: $type;

    @if $pixel-ratio {
      $query: $query + ' and (min-resolution: #{$pixel-ratio * 1dppx})';
    }

    @if $min {
      $min-width: media-query-width($min);
      @if $min-width > 0 {
        $query: $query + ' and (min-width: #{$min-width})';
      }
    }

    @if $max {
      $max-width: media-query-width($max) - .01em;
      $query: $query + ' and (max-width: #{$max-width})';
    }

    @if $orientation {
      $query: $query + ' and (orientation: #{$orientation})';
    }

    @media #{$query} {
      @content;
    }
  }
  @mixin clearfix {
    &:after {
      clear: both;
      content: '';
      display: table;
    }
  }

  .task-filters {
    @include clearfix;
    margin-bottom: 45px;
    padding-left: 1px;
    font-size: rem(16px);
    line-height: 24px;
    list-style-type: none;

    @include media-query(540) {
      margin-bottom: 55px;
    }

    li {
      float: left;

      &:not(:first-child) {
        margin-left: 12px;
      }

      &:not(:first-child):before {
        padding-right: 12px;
        content: '/';
        font-weight: 300;
      }
    }

    a {
      color: #999;
      text-decoration: none;

      &.active {
        color: #fff;
      }
    }
  }

  .task-list {
    border-top: 1px dotted #666;
  }

}